Package: imganalizer
Version: 1.0.0-1505584822
Provides: imganalizer
Maintainer: Dart Vaider <dart.vaider@deathstar.com>
Architecture: amd64
Section: misc
Description: Image analizer
 Image analizer with com-port communication
Depends: libc (>=2.23), 
Priority: optional
